@import url("https://fonts.googleapis.com/css?family=Tangerine");

body {
    background-color: antiquewhite;
    padding: 3em;
    font-size: 14px;
    text-align: center;
}

header {
    padding: 1.2em;
    grid-column: 1/4;
    background-color: aqua;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: black;
}

h2 {
    grid-row: auto;
    background-color: hsl(313, 67%, 81%);
}

nav a:hover {
    background-color: rgb(35, 151, 151);
}

.photo {
    width: 80px;
}

#photo link {
    padding-top: 5px;
    text-align: center;
}

nav a {
    text-align: center;
    color: #fd4824;
    text-decoration: none;
    padding: 35px;
}

footer {
    display: grid;
    padding: 1.2em;
    grid-column: 1/4;
    background-color: aqua;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer p {
    font-size: 1.2em;

}

footer p a:hover {
    text-decoration: underline;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: hsl(313, 67%, 81%);
}


nav {
    display: flex;
    justify-content: space-around
}