@media screen and (max-width: 767px) {

    /* Styles for mobile view */
    h2 {
        width: 100%;
        clear: both;
    }
}

/* Styles for medium and larger view */
@media screen and (min-width: 768) {
    /* Two columns horizontally for two h2 elements */

    h2:nth-child(1),
    h2:nth-child(2) {
        width: 50%;
        float: left;
    }

    /* 3rd h2 at the bottom */

    h2:nth-child(3) {
        clear: both;
        width: 100%
    }
}

/*Styles for larger view */
@media screen and (min-width: 768px) {
    h2 {
        width: 33.33%;
        float: left;
    }
}