@media screen and (min-width:1024px) {
    body {
        font-size: 16px;

    }

    header {
        background: aqua;
        color: black;
        grid-template-columns: 1fr 1fr;
    }

    .parent>p {
        display: flex;
        padding: 10px;
    }

}