@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=RocknRoll+One&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(79, 180, 119);
    padding: 3em;
    font-size: 14px;
    text-align: center;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;

}

header {
    background-color: rgb(63, 102, 52);
    font-style: normal;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: grid;
    grid-row: auto;
    grid-column: 1;
    border-radius: 50%;
    overflow: hidden;
}

h1 {
    color: white;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-column: 2;
    text-align: left;
}

h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    background-color: green;
    padding: 10px;
    margin: 10px;
    color: white;
    transform: translateX(-50%);
}



nav {
    text-align: right;
    display: flex;
    gap: 20px;
    padding: 35px;
}

nav a:hover {
    color: white;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: yellow;
    font-size: 30px;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
}

#hero {
    position: relative;
    display: grid;
    grid-column: 1/4;
    gap: 20px;
    width: 100%;
    align-self: stretch;
}

#hero-box {
    grid-column: 1;

}

#hero-img {
    width: 100%;
}


footer {
    display: grid;
    padding: 1.2em;
    grid-column: 1/4;
    background-color: rgb(63, 102, 52);
    font-style: normal;
    font-family: Roboto;
    color: white;
    align-self: end;
    font-size: xx-large;
}


.no-bullet {
    list-style-type: none;
    padding: 0;
}

.no-bullet li {
    text-align: left;
    margin-bottom: 10px;
}

.event-banner,
.card-weather {
    grid-column: 1/4;
}

.event-banner {
    background-color: rgb(63, 102, 52);
    padding: 20px;
    margin-bottom: 5px;
    grid-column: 1/3;
    grid-row: 1/3;
}

.event-banner h3 {
    font-size: xx-large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-weather {
    background-color: rgb(63, 102, 52);
    padding: 40px;
    grid-column: 3/4;

}

.card-weather h3 {
    font-size: xx-large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-advertisements {
    text-align: center;
    grid-column: 1/4;
}

.card-advertisements h3 {
    font-size: xx-large;
    margin-top: 5px;
    margin-bottom: 5px;
}


.card-advertisements ul li:first-child {
    background-color: rgb(63, 102, 52);
    padding: 40px;
    text-align: center;
    grid-column: 1/2;
}

.card-advertisements ul li:nth-child(2) {
    background-color: rgb(63, 102, 52);
    padding: 40px;
    text-align: center;
    grid-column: 2/3;
}

.card-advertisements ul li:nth-child(3) {
    background-color: rgb(63, 102, 52);
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-column: 3/4;
}


.card-advertisements ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card-advertisements ul li:first-child h4::before {
    content: "💺";
    margin: 0 5px;
}

.card-advertisements ul li:nth-child(2) h4::before {
    content: "💍";
    margin: 0 5px;
}

.card-advertisements ul li:nth-child(3) h4::before {
    content: "💎";
    margin: 0 5px;
}

.card-weather ul li:first-child::before {
    margin: 0 5px;
}

.card-weather ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
}


h4 {
    text-align: left;

}


.social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: #000;
    font-size: 10px;
    text-decoration: none;
}

#lastUpdated {
    background-color: antiquewhite;
    color: #333;
    font-style: normal;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.mode-text {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}

input:checked+.slider+.mode-text {
    content: "Dark Mode";
    right: calc(100% +10px);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* this is the second pagestyles for discover.html */


aside {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


.not-bulleted {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: .25rem;
    width: 80%;

}

.not-bulleted li {
    color: white;
    margin-bottom: 10px;
    text-align: left;
    display: grid;
    grid-column: 1/2;
    grid-row: inherit;
}

strong {
    text-align: center;
}

.industry {
    border: 1px solid #000;
    padding: 5px;
}

main {
    flex: 1;
}

figure {
    margin: 0;
    text-align: center;
    grid-column: 3/4;
}


figcaption {
    margin-top: 5px;
    font-size: xx-large;
    font-style: italic;
}

h5 {
    background-color: green;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: xx-large
}

h6 {
    color: white;
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: x-large;
}


img {
    max-width: 100%;
    background: white;
    animation: fade 15s;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#lastUpdated {
    background-color: antiquewhite;
    color: #333;
    font-style: normal;
}

/* styles for the join */
:root {
    --back: hsla(150, 50%, 30%, 1);
    --back2: rgb(127, 132, 129);
    --foredark: hsla(0, 0%, 10%, 1);
    --forelight: hsla(0, 0%, 100%, 1);
    --border: hsla(244, 64%, 29%, 0.8);
    --borderlight: hsla(0, 0%, 33%, .3);
    --shadow: hsl(132, 89%, 18%);
    --zebra: hsl(0, 90%, 58%);
}

.join-page header {
    display: grid;
    grid-column: 1/5;
}

.wf1 {
    display: grid;
    grid-column: 1/2;
}

.wf1 h1 {
    color: var(--forelight);
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-column: 1/2;
    text-align: left;

}


.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid var(--forelight);
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    background-color: antiquewhite;
    color: var(--foredark);
    padding: 0 .5rem;
    text-align: left;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--shadow);
    font-size: .9rem;
    text-align: left;
}


.wf1 input[type="text"],
.wf1 input[type="mobNumber"],
.wf1 input[type="email"] {
    background-color: var(--forelight);
    display: block;
    border: solid 1px var(--border);
    border-radius: 6px;
    padding: .75rem;
    color: var(--border);
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 3rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.wf1 input:required {
    border-bottom: solid .80px red
}

.wf1 input:required:valid {
    border-bottom: solid .80px green;
}

input[type="submit"]:hover {
    background-color: var(--back);
}

table {
    margin: 10px;
    border: thin solid var(--back2);
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--foredark);
    font-size: .85rem;
}

tbody {
    background-color: antiquewhite;
    color: var(--border);

}

tbody tr {
    color: var(--foredark);

}

tbody tr ul li {
    text-align: left;
    color: var(--foredark);

}


th,
td {
    padding: 7px 15px;
    border: 1px solid var(--borderlight);
}

th {
    background-color: var(--foredark);
    font-size: large;
    color: var(--forelight);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article.grid section,
article.list section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


article section img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

article section ul li {
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

article.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

article.list section {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

#businessDirectory {
    grid-column: 1 /span 3;
    text-align: left;
    padding: 20px;
}

#directoryList {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

#directoryList li {
    margin-bottom: 10px;
}


#cards {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.card {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.card:nth-child(even) {
    background-color: #f9f9f9;
}

#cards h4 {
    grid-column: span 7;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

#cards p {

    margin-bottom: 5px;
}

.card.card {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.card.grid.img {
    max-width: 100px;
    height: auto;
}

.card.grid h3 {
    margin: 10px 0;
}

.card.list {
    display: flex;
    flex-direction: column;
}

.card.list img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card.list h3 {
    margin: 0;
}

.card.list p {
    margin: 5px 0;
}