@media screen and (min-width: 768px) {

    nav {
        display: flex;
        padding: 10px;
    }

    nav a {
        display: inline-block;
        flex: 1 1 100%;
        margin-right: 10px;
    }

    #menu,
    #closeButton {
        display: none;
    }

    #directoryList {
        padding: 20px;
        display: table;
        width: 100%;
    }

    #directoryList li {
        display: table-row;
    }

    #directoryList li>* {
        display: table-cell;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    #directoryList h3,
    #directoryList p {
        margin: 0;
        font-size: 16px;
    }


}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }

    .nav.open {
        display: block;
    }

    iframe {
        width: 5%;
    }

    .event-banner {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .card-weather {
        grid-column: 1 / -1;
        ;
        grid-row: 3;
    }

    .card-advertisements {
        grid-column: 1 / -1;
        grid-row: 4;
    }

    #cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
    }

    .card {
        width: 100%;
        max-width: 600px;
    }

    #directoryList li {
        margin-bottom: 20px;
    }

    #directoryList h3 {
        font-size: 18px;
    }

    #directoryList p {
        margin: 5px 0;
        font-size: 14px;
    }
}