@media screen and (min-width:768px) and (max-width: 1023px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    #menu {
        display: block;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(63, 102, 52);
        display: none;

    }

    .nav.open {
        display: flex;
    }

    nav a {
        margin: 0;
        padding: 15px;
        color: yellow;
    }

    #menu,
    #closeButton {
        display: none;
    }
}