@media screen and (min-width: 1024px) {

    nav {
        display: flex;
        padding: 10px;
    }

    nav a {
        display: inline-block;
        flex: 1 1 100%;
        margin-right: 10px;
    }



}