@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=RocknRoll+One&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 3em;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: teal;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
}

h1 {
    color: yellow;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

h2 {
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: teal;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: xx-large;
    transform: translateX(-50%);
}

h3 {
    text-align: left;
    font-size: 50px;

}

h4 {
    text-align: center;
    font-size: 30px;
}

h5 {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.rental-info {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1 fr;
    grid-gap: 20px;
}

.rental-info picture {
    max-width: 100%;
    height: auto;
}

.rental-info img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-weather {
    margin-top: 20px;
    grid-column-end: span 1;
}

#weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#max-temp-display {
    position: fixed;
    top: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
}

#max-temp-display #max-temp-value {
    font-size: 18px;
    font-weight: bold;
}

#close-max-temp {
    background-color: transparent;
    ;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

nav {
    text-align: right;
    display: flex;
    gap: 20px;
    padding: 35px;
}

nav a:hover {
    color: white;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: yellow;
    font-size: 30px;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
}

nav a.active {
    background-color: #333;
    color: white;
    border-radius: 5px;
}

#hero {
    position: relative;
    display: grid;
    grid-column: 1/4;
    gap: 20px;
    width: 100%;
    align-self: stretch;
}

#hero-box {
    grid-column: 1/4;

}

#hero-img {
    width: 100%;
}



footer {
    display: grid;
    padding: 1.2em;
    margin-top: 20px;
    grid-column: 1/4;
    background-color: teal;
    color: white;
    text-align: center;
    font-size: xx-large;
}


.social-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: auto;
}

.social-icons a {
    margin-right: 10px;
    font-size: 10px;
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.mode-text {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    color: #333;
    font-size: 20px;
    padding: 5px;
    font-family: Roboto;
    margin-left: auto;
    border-radius: 2px;
}

input:checked+.slider+.mode-text {
    content: #333;
    right: calc(100% +10px);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider~* {
    color: #333;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}